# Flutter/Dart specific
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock
mobile/.pub/
mobile/coverage/
mobile/*.iml
mobile/*.log
mobile/.idea/
mobile/.vscode/
mobile/.metadata

# Android specific
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/**/gradle-wrapper.jar
mobile/android/.idea/
mobile/android/captures/
mobile/android/gradlew
mobile/android/gradlew.bat
mobile/android/key.properties

# iOS specific
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Flutter/App.framework
mobile/ios/Flutter/Flutter.framework
mobile/ios/*.mode1v3
mobile/ios/*.mode2v3
mobile/ios/*.moved-aside
mobile/ios/*.pbxuser
mobile/ios/*.perspectivev3
mobile/ios/**/*sync/
mobile/ios/.sconsign.dblite
mobile/ios/.tags*
mobile/ios/.vagrant/
mobile/ios/DerivedData/
mobile/ios/Icon?
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/profile
mobile/ios/xcuserdata
mobile/ios/.generated/
mobile/ios/Flutter/App.framework
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/app.flx
mobile/ios/Flutter/app.zip
mobile/ios/Flutter/flutter_assets/
mobile/ios/ServiceDefinitions.json
mobile/ios/Runner/GeneratedPluginRegistrant.*

# PlatformIO/Arduino specific
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.vscode/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
__pycache__/
*.pyc

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# General
*.log
*.swp
*.bak

# Python specific
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv